{% load static %}
<!DOCTYPE html>
<html lang="fa-IR">
<head>
  <meta charset="utf-8">
  <title>پیمانکار</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static "accounting\img\1apple-touch-icon.png" %}" rel="icon">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
 
  
  <link href="{% static "accounting\lib\bootstrap\css\bootstrap.min.css" rel="stylesheet" %}" >

  <!-- Libraries CSS Files -->
  
  <link href="{% static "accounting\lib\owlcarousel\assets\owl.carousel.min.css" rel="stylesheet" %}" >
  
  <link href="{% static "accounting\lib\owlcarousel\assets\owl.theme.default.min.css" rel="stylesheet" %}" >
 
  <link href="{% static "accounting\lib\font-awesome\css\font-awesome.min.css" rel="stylesheet" %}" >
 
  <link href="{% static "accounting\lib\animate\animate.min.css" rel="stylesheet" %}" >
 
  <link href="{% static "accounting\lib\modal-video\css\modal-video.min.css" rel="stylesheet" %}" >

  <!-- Main Stylesheet File -->
  <link href="{% static "css\style.css" %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>e</span>Startup</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">خانه</a></li>
          <li><a href="#about-us">درباره ما</a></li>
          <li><a href="#features">امکانات</a></li>
          
          <li class="menu-has-children"><a href="">ورود</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              
            </ul>
          </li>
          
          <li><a href="#contact">تماس با ما</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>خوش آمدید</h1>
      <h2>ارائه راهکارهایی برای پیمانکاران</h2>
      <ul>
        <a href="#get-started" class="btn-get-started scrollto">ثبت دخل و خرج</a>
        <a href="#get-started" class="btn-get-started scrollto">مشاهده دخل و خرج</a>
      </ul>
      <img src="static\img\hero-img.png   alt="Hero Imgs">

    </div>
  </section><!-- #hero -->



  
  
  



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  src="{% static "" %}"
  <script src="{% static "lib\jquery\jquery.min.js" %}" ></script>
  <script src="{% static "lib\jquery\jquery-migrate.min.js" %}"   ></script>
  <script src="{% static "lib\bootstrap\js\bootstrap.bundle.min.js" %}"   ></script>
  <script src="{% static "lib\superfish\hoverIntent.js" %}"  ></script>
  <script src="{% static "lib\superfish\superfish.min.js" %}"  ></script>
  <script src="{% static "static\lib\easing\easing.min.js" %}"  ></script>
  <script src="{% static "static\lib\modal-video\js\modal-video.js" %}"  ></script>
  <script src="{% static "lib\owlcarousel\owl.carousel.min.js" %}"  ></script>
  <script src="{% static "ib\wow\wow.min.js" %}" ></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static "contactform\contactform.js" %}" ></script>

  <!-- Template Main Javascript File -->
  <script src="{% static "js\main.js" %}" ></script>

</body>
</html>
