{% extends  "html/base.html" %}


{% load static %}
{% load humanize %}



{% block title %}
  {{record.title}}
{% endblock %}

{% block toolbar_title %}
جزئیات پروژه
{% endblock %}

{% block toolbar_buttons %} 



{% endblock %}         



{% block main_content %}
  

  <div class="row py-3">
    <div class="col-8 item-details">
        <div class="row px-3">
           

            <div class="col-3">
                <small class="text-muted">
                    عنوان:
                </small>
            </div>
            <div class="col-9">
                {{ projects.name }}
            </div>
            <div class="w-100 my-1"></div>
            <div class="col-3">
                <small class="text-muted">
                    تاریخ:
                </small>
            </div>
            <div class="col-9">
                {{ projects.date }}
            </div>
            <div class="w-100 my-1"></div>
            <div class="col-3">
                <small class="text-muted">
                    شماره قرارداد:
                </small>
            </div>
            <div class="col-9">
                {{ projects.number }}
            </div>
            <div class="w-100 my-1"></div>
            <div class="col-3">
                <small class="text-muted">
                مبلغ پروژه
                </small>
            </div>
            <div class="col-9">
                {{ projects.cost | intcomma:False  }}
                ریال
            </div>
            <div class="w-100 my-1"></div>
            <div class="col-3">
                <small class="text-muted">
                    نام کارفرما
                </small>
            </div>
            <div class="col-9 item-text-box">
                {{ projects.master }}
            </div>
            <div class="w-100 my-1"></div>
            <div class="col-3">
                <small class="text-muted">
                    وضعیت قرارداد
                </small>
            </div>
            <div class="col-9">
                {{ projects.get_status_display  }}
            </div>
            <div class="w-100 my-1"></div>

            <a class="btn btn-danger py-1 px-2" href={% url 'accounting:project_edit' project_edit_id=projects.id %} >
                
                ویرایش رکورد
            </a>

        </div>
    </div>
{% endblock %}
  


