{% extends  "html/base.html" %}


{% load static %}
{% load humanize %}



{% block title %}
  {{record.title}}
{% endblock %}

{% block toolbar_title %}
جزئیات رکورد
{% endblock %}

{% block toolbar_buttons %} 


<a class="btn btn-light py-1 px-2" href={% url 'accounting:record_list' %} >
    <i class="fas fa-building"></i>
    لیست رکوردها
</a>
                
                
<a class="btn btn-light py-1 px-2" href={% url 'accounting:record_register' %} >
    <i class="fas fa-building"></i>
    ثبت رکورد
</a>


{% endblock %}         



{% block main_content %}
  

  <div class="row py-3">
    <div class="col-8 item-details">
        <div class="row px-3">
            <div class="col-3">
                <small class="text-muted">
                    عنوان:
                </small>
            </div>
            <div class="col-9">
                {{ record.title }}
            </div>
            <div class="w-100 my-1"></div>
            <div class="col-3">
                <small class="text-muted">
                    تاریخ:
                </small>
            </div>
            <div class="col-9">
                {{ record.date }}
            </div>
            <div class="w-100 my-1"></div>
            <div class="col-3">
                <small class="text-muted">
                    قیمت کل
                </small>
            </div>
            <div class="col-9">
                {{ record.total_price | intcomma:False  }}
                ریال
            </div>
            <div class="w-100 my-1"></div>
            <div class="col-3">
                <small class="text-muted">
                    نام پروژه
                </small>
            </div>
            <div class="col-9 item-text-box">
                {{ record.project }}
            </div>
        </div>
    </div>
{% endblock %}
  


