{% extends  "html/base.html" %}

{% load static %}
{% load humanize %}


{% block title %}سامانه جامع پیمانکاران{% endblock %}

{% block toolbar_title %}لیست رکوردها{% endblock %}

{% block toolbar_buttons %}
<a class="btn btn-light py-1 px-2" href={% url 'accounting:record_register' %} >
    <i class="fas fa-building"></i>
    ثبت رکورد
</a>
       
{%endblock%}



{% block main_content %}
  <div class="row">
    <div class="col py-3">
        {% if records %}

        <div class="row ">
            <div class="col my-1 px-3 mx-3 py-2 search-bar">
                <form action="" method="GET" class="form-row px-2">
                    
                    <label for="{{search_form.record_name.id_for_label}}" class="col-2" > {{search_form.record_name.label}}</label>  
                        <div class="col-4">
                            {{search_form.record_name}}
                            {{search_form.record_name.errors}}
                        </div>
                    
                    <label for="{{search_form.project_name.id_for_label}}" class="col-2" > {{search_form.project_name.label}}</label>  
                    <div class="col-4">
                        {{search_form.project_name}}
                        {{search_form.project_name.errors}}
                    </div>

                    <label for="{{search_form.max_price.id_for_label}}" class="col-2" > {{search_form.max_price.label}}</label>  
                    <div class="col-4">
                        
                        <input  type="number" name="max_price" min="0" id="id_max_price">
                      
                        {{search_form.max_price.errors}}
                    </div>

                    <label for="{{search_form.min_price.id_for_label}}" class="col-2" > {{search_form.min_price.label}}</label>  
                    <div class="col-4">
                        {{search_form.min_price}}
                        {{search_form.min_price.errors}}
                    </div>

                    <label for="{{search_form.type_of.id_for_label}}" class="col-2" > {{search_form.type_of.label}}</label>  
                    <div class="col-4">
                        {{search_form.type_of}}
                        {{search_form.type_of.errors}}
                    </div>

                    
                    
                <button type="submit">جستجو</button>   
                </form>

             </div>
    
        </div>


            <ul class="item-list">

                <div class="row px-2">
                    <div class="col">
                        <div class="alert alert-info mt-2 mb-0 py-1 px-3">
                            جمع کل خرج کرد :
                            {{expense_sum | intcomma:False}}
                            ريال
                        </div>
                        
                        <div class="alert alert-info mt-2 mb-0 py-1 px-3">
                            جمع کل درآمد :
                            {{income_sum | intcomma:False}}
                            ريال
                        </div>
                    </div>
                </div>
                <br>

                
                {% for record in records %}
                    <li>
                            
                            <i class="fas fa-film"></i>
                            <a href={%url "accounting:record_details" record_id=record.id  %}>
                              {{ record.title}}
                              :
                              {{record.total_price | intcomma:False}}
                              ریال
                            <small class="text-muted">
                             {{record.date|date:"SHORT_DATE_FORMAT"}}   
                            </small>
                           </a>
                        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-danger">
                در حال حاضر هیچ رکوردی برای نمایش وجود ندارد.
            </div>
        {% endif %}
    </div>
  </div>  

  {% endblock %}

  
