{% extends  "html/base.html" %}

{% load static %}
{% load humanize %}


{% block title %}سامانه جامع پیمانکاران{% endblock %}

{% block toolbar_title %}لیست رکوردها{% endblock %}

{% block toolbar_buttons %}
                <a class="btn btn-light py-1 px-2" href="#" >
                    <i class="fas fa-film"></i>
                    خانه
                </a>

                <a class="btn btn-success py-1 px-2" href="#">
                    <i class="fas fa-ticket-alt"></i>
                        درباره ما
                </a>
        </div>
{%endblock%}



{% block main_content %}
  <div class="row">
    <div class="col py-3">
        {% if records %}

        <div class="row px-5">
            <form action="" method="GET">
            {{search_form.as_p}}
             <button type="submit">جستجو</button>   
            </form>
    
        </div>


            <ul class="item-list">
                {% for record in records %}
                    <li>
                            
                            <i class="fas fa-film"></i>
                            <a href={%url "accounting:record_details" record_id=record.id  %}>
                              {{ record.title}}
                              :
                              {{record.total_price | intcomma:False}}
                              ریال
                            <small class="text-muted">
                             {{record.date|date:"SHORT_DATE_FORMAT"}}   
                            </small>
                           </a>
                        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-danger">
                در حال حاضر هیچ رکوردی برای نمایش وجود ندارد.
            </div>
        {% endif %}
    </div>
  </div>  

  {% endblock %}

  
