{% extends  "html/base.html" %}


{% load static %}


{% block title %}
ثبت پروژه
{% endblock %}

{% block toolbar_title %}
ثبت پروژه
{% endblock %}



{% block main_content %}
<form action="" method="POST"  class="form py-2 ">
    {% csrf_token %}
    <div class="row py-3">
        <div class="col-8 item-details">
            <div class="row px-3">
                {% include 'html/_form_field.html' with field=project.name %}
                {% include 'html/_form_field.html' with field=project.number %}
                {% include 'html/_form_field.html' with field=project.date %}
                {% include 'html/_form_field.html' with field=project.cost %}
                {% include 'html/_form_field.html' with field=project.master %}
                {% include 'html/_form_field.html' with field=project.status %}
                

                <button type="submit" class="btn btn-success btn-sm" >
                    ثبت
                </button>
            </div>
        </div>
    </div>        
</form>
{% endblock %}